#viewHighScores{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 5px;
    /* background-color: blue; */
}

#timer{
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    margin: 5px;
    /* background-color: blue; */
}
header{
    background-color: aqua;
    height: 40px;
}
#questionBox{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellow;
}
#infoBox{
    padding-left: 15%;
    padding-right: 15%;
}
article{
    position: relative;
    display: inline;
    text-align: center;
}
#response{
    position: relative;
}